body{
    background: #333;
    color: #fff
}
/* Navbar Css */
.navbar{
    opacity: 0.7;
    border-bottom: #008ed6 4px solid;
}

/* Home Section Css */
#home-section{
    background: url(/Images/home.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    min-height: 800px;
}

/* To overlay the dark shadow type colour over the background */
#home-section .dark-overlay{
    position: absolute;
    top: 0; 
    left:0;
    width: 100%;
    min-height: 800px;
    background: rgba(0,0,0,0.6);

}
.home-inner{
    padding-top: 150px;
}
#home-section .card-form{
    opacity: 0.8;
}
#home-section .fas , #create-section .fas{ 
    color: #008ed6;
    background: #fff;
    padding: 5px;
    border-radius: 5px;
}


/* Explore Section */
#explore-section .fas ,#share-section .fas{
    background: #333;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
}